﻿@using Diffa.Areas.Admin.Models
@model List<ProductFormViewModel>
<style>
    #productsGrid td {
        vertical-align: middle;
    }
</style>
<div class="section_header">
    <div class="heading">
        <h2 class="page-title">Products List</h2>
    </div>
    <div class="header_btn">
        <button type="button" class="btn btn-primary" id="js-add-product"><i class="fa fa-user-plus" aria-hidden="true"></i>&nbsp;&nbsp;Add New Product</button>
    </div>
</div>
<div>
    @if (Model != null && Model.Count > 0)
    {
        <div id="productsGrid">
            <table class="table table-striped">
                <thead>
                    <tr role="row">
                        <th>
                            &nbsp;
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Price
                        </th>
                        <th>
                            &nbsp;
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in Model)
                    {
                        <tr role="row">
                            <td>
                                @if (!String.IsNullOrEmpty(product.LogoPath))
                                {
                                    <img src="/@product.LogoPath.Replace("\\","/")" style="padding:20px; max-width:200px" />
                                }
                            </td>
                            <td>@product.Name</td>
                            <td>@product.Price</td>
                            <td>
                                <button type="button" data-id="@product.ProductId" class="mr-2 btn btn-link js-edit-product">Edit</button>
                                <button type="button" data-id="@product.ProductId" class="btn btn-link js-delete-product">Delete</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>