﻿@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="page_header">
    <div class="heading">
        <h1 class="page-title">Manage Tables</h1>
    </div>
</div>
<div class="page_area">
    <div class="page_body">
        <div class="section_header">
            <div class="heading">
                <h2 class="page-title">Edit Table</h2>
            </div>
        </div>
        <div class="section_area">
            <div class="section_body">
                <form method="post" id="js-table-form" enctype="multipart/form-data" action="/admin/tables/edit-table">
                    @await Html.PartialAsync("~/Areas/Admin/Views/Tables/Partial/_TableForm.cshtml")
                </form>
            </div>
        </div>
    </div>
</div>