﻿@using Diffa.Areas.Admin.Models
@model List<TableFormViewModel>
<style>
    #tablesGrid td {
        vertical-align: middle;
    }
</style>
<div class="section_header">
    <div class="heading">
        <h2 class="page-title">Table List</h2>
    </div>
    <div class="header_btn">
        <button type="button" class="btn btn-primary" id="js-add-table"><i class="fa fa-user-plus" aria-hidden="true"></i>&nbsp;&nbsp;Add New Table</button>
        
    </div>
    <div class="header_btn">
        
        <button type="button" class="btn btn-primary" id="js-view-layout"><i class="fa fa-user-plus" aria-hidden="true"></i>&nbsp;&nbsp;View Layouts</button>
    </div>
</div>
<div>
    @if (Model != null && Model.Count > 0)
    {
        <div id="tablesGrid">
            <table class="table table-striped">
                <thead>
                    <tr role="row">
                        <th>Name</th>
                        <th>SeatsPerTable</th>
                        <th>PricePerSeat</th>
                        <th>Table Color</th>
                        <th>Tables Available</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr role="row">
                            <td class="d-none">@item.TableId</td>
                            <td>@item.TableName</td>
                            <td>@item.SeatsPerTable</td>
                            <td>@item.PricePerSeat</td>
                            <td style="background-color: @item.HexColor">&nbsp;&nbsp;</td>
                            <td>@item.TablesAvailable</td>
                            <td>
                                <button type="button" data-id="@item.TableId" class="mr-2 btn btn-link js-edit-table">Edit</button>
                                <button type="button" data-id="@item.TableId" class="btn btn-link js-delete-table">Delete</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>