﻿@using Diffa.Areas.Admin.Models
@model TableLayoutViewModel


<h2>Layout</h2>
<div class="container">
    <div class="row">
        <div class="col-9">

            @{
                var stage = Model.ElementPositions.Where(p => p.ElementName == "Stage").FirstOrDefault();
                if (stage == null)
                {
                    stage = new Diffa.Data.Models.DiffaEvents.EventElementPosition();
                    stage.Top = 200;
                    stage.Left = 400;
                }
            }

            <div style="position: absolute;  display: table;">
                <div class="draggable-element" id="Stage" data-element-id="Stage" data-rotate="0"
                     data-initial-offset-top="@stage.Top" data-initial-offset-left="@stage.Left"
                     style="background-image: url(/dist/images/stage.png); width:174px; min-height:363px; background-repeat:no-repeat; position:absolute;text-orientation:sideways; opacity:.5;">
                       <!--<i class="fa fa-sort see-menu" style="color:red;" data-element-id="Stage">&nbsp;</i>-->

                </div>
                    
            </div>

            @{
                var runway = Model.ElementPositions.Where(p => p.ElementName == "Runway").FirstOrDefault();
                if (runway == null)
                {
                    runway = new Diffa.Data.Models.DiffaEvents.EventElementPosition();
                    runway.Top = 200;
                    runway.Left = 600;
                }
            }
            <div style="position: absolute;  display: table;">
                <div class="draggable-element" id="Runway" data-element-id="Runway" data-rotate="0"
                     data-initial-offset-top="@runway.Top" data-initial-offset-left="@runway.Left"
                     style="        background-image: url(/dist/images/Runway.png);
        width: 680px;
        min-height: 90px;
        background-repeat: no-repeat;
        position: absolute;
        text-orientation: sideways;
        opacity: .5;
">
                    <!--<i class="fa fa-sort see-menu" style="color:red;" data-element-id="Runway">&nbsp;</i>-->
                </div>
            </div>

            @{
                int top = 1;
                int tableNumber = 1;
            }
            @foreach (var table in Model.Tables)
            {

                for (int x = 1; x <= table.TablesAvailable; x++)
                {
                    var position = Model.Positions.Where(p => p.TableId == table.TableId && p.TableIndex == x).FirstOrDefault();
                    if (position == null)
                    {
                        position = new Diffa.Data.Models.DiffaEvents.TablePosition();
                        position.Top = 150;
                        position.Left = 400;
                    }
                    <div style="position: absolute;  display: table;">
                        <div class="draggable" style="background-color:#ffffff;" data-table-id="@table.TableId" 
                             data-table-index="@x" data-initial-offset-top="@position.Top" data-initial-offset-left="@position.Left">
                        </div>
                    </div>
                    tableNumber++;
                    if (tableNumber > 10)
                        top++;
                }
                top++;
            }



        </div>
        <div class="col-3">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" data-toggle="tab" role="tab" href="#Tables">Tables</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" role="tab" href="#CustomerDetails111">Tickets</a>
                </li>

            </ul>
            <div class="tab-content" id="ex1-content">
                <div class="tab-pane fade show active"
                     id="Tables"
                     role="tabpanel" style="display:none;">
                    This table is un-assigned<br /><br />
                    Assign to:<br /><br />
                    <i class="fa fa-user-plus addMe" aria-hidden="true" style="color:#1955fa"></i>&nbsp;Victor Gorri<br /><br />
                    <i class="fa fa-user-plus addMe" aria-hidden="true" style="color:#755656"></i>&nbsp;Jason Gorri<br /><br />

                    <button id="saveAssignment">Save</button>

                </div>
                <div class="tab-pane" id="CustomerDetails111" role="tabpanel">
                    ddddddddddd
                </div>
            </div>
        </div>
        
    </div>
</div>




<script>
    $(function () {

        var layouts = new AdminManageLayouts("@Model.EventId");
        layouts.Init();

        $(".see-menu").on("click", function (e) {
            var parent = $(this).parent();
            var deg = parent.data("rotate") * 1;
            deg += 45;
            $("#" + $(this).data("elementId")).css("transform", "rotate(" + deg + "deg)")
            parent.data("rotate", deg);
        });

        $("#saveAssignment").on("click", function (e) {
            e.preventDefault();
            $(".draggable-selected").removeClass("draggable-selected");
            $("#Tables").hide();
        });
    });
</script>
<style>
    .draggable {
        position: absolute;
        width: 25px;
        height: 25px;
        vertical-align: middle;
        text-align: center;
        border-radius: 50%;
        display: table-cell;
    }

    .draggable-selected{
        border-width:3px;
        border-style:solid;
        border-color:yellow;
    }

    .drag-hide {
        display: none;
    }

</style> 