﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Diffa</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/dist/css/font-awesome.css" type="text/css">
    <link rel="stylesheet" href="/dist/css/main.css" />

</head>
<body>
    
    <div class="login_module" ng-app="LoginModule" ng-controller="LoginModuleController">
        <div class="login_container">
            <div class="login_inner">
                <div class="login_form">
                    <div class="logo">
                        <a href="#"><img src="/dist/images/logo.png" alt="Logo"></a>
                    </div>
                    <div class="container-fluid">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            <p>© Copyrights DIFFA/Dallas 2021. All Rights Reserved. Site by <a href="https://kitelytech.com/" target="_blank">Kitelytech</a></p>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/dist/js/users/users.js"></script>
    

    @await RenderSectionAsync("Scripts", required: false)


</body>
</html>
