﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Diffa Admin</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/dist/css/font-awesome.css" type="text/css">
    <link rel="stylesheet" href="/dist/css/main.css" />
    <link rel="stylesheet" href="/lib/kendo/kendo.common.min.css" />
    <link rel="stylesheet" href="/lib/kendo/kendo.default.min.css" />
</head>
<body>
    <!--Top Header-->
    @*<div class="preloader" style="display:none">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="4" stroke-miterlimit="10" />
            </svg>
        </div>*@

    <div class="preloader">
        <img src="~/dist/images/logo.png" alt="Foot Print" draggable="false">
    </div>

    <div class="inner-header">
        <div class="inner-header-right">
            <div class="header_title">
                <button type="button" class="navbar-toggle">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h2></h2>
            </div>
            <div class="user-profile-outer">
                <div class="profile_desc">
                    <h5 id="Hname"></h5>
                </div>
                <div class="logout">
                    <ul>

                        <li><a href="/Identity/Account/Logout?ReturnUrl=%2Fadmin">Log Out</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--Top Header End-->
    <!--Left Navigation-->
    <div class="navigation">
        <div class="inner-header-logo">
            <a href="#"><img src="~/dist/images/logo.png" alt="Logo"></a>
        </div>
        <nav class="mCustomScrollbar">
            <ul>


                <li><a href="/admin"><i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard</a></li>
                <li id="liEvents"><a href="/admin/manage-events"><i class="fa fa-unlock-alt" aria-hidden="true"></i> Manage Events</a></li>
                <li id="liProducts"><a href="/admin/manage-products"><i class="fa fa-user-plus" aria-hidden="true"></i> Manage Products</a></li>
                <li id="liAddStaff"><a href="/admin/manage-payments"><i class="fa fa-user-o" aria-hidden="true"></i> Manage Payments</a></li>
                <li id="liTables"><a href="/admin/manage-tables"><i class="fa fa-calendar-o" aria-hidden="true"></i> Manage Tables</a></li>
                <li id="liUsers" class="link-manage-users"><a href="/admin/manage-users"><i class="fa fa-list" aria-hidden="true"></i> Manage Users</a></li>
                <li id="liAds"><a href="/admin/general-reports"><i class="fa fa-file-text" aria-hidden="true"></i> General Reports</a></li>
                <li id="liMedia"><a href="/admin/notifications"><i class="fa fa-tasks" aria-hidden="true"></i> Notifications</a></li>

            </ul>
        </nav>
    </div>
    <!--Left Navigation End-->
    <!--Main Body Wrapper-->
    <div class="body-wrapper">
        <div class="main_padding">
            @RenderBody()
        </div>
        <footer>
            <p>&copy; Copyrights DIFFA/Dallas 2019. All Rights Reserved. Platform by <a href="https://kitelytech.com/" target="_blank">KitelyTech</a></p>
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive//jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.js"></script>
    <script src="~/lib/kendo/kendo.all.min.js"></script>

    <script src="@Url.Content("~/dist/js/admin/admin.min.js")"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
