﻿@model Diffa.Areas.Admin.Models.EventFormViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Diffa.Data.Enums

<div class="container" id="EventContainer">
    <div class="row">
        <div class="col">
            <div class="form-group">
                @Html.HiddenFor(p => p.EventId)

                <label asp-for="Name" class="control-label">Event Name</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Description</label>
                <textarea asp-for="Description" class="form-control" required></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventType" class="control-label">Event Type</label>
                <input type="radio" asp-for="EventType" value="@((int)EventType.IndividualSeatArrangement)" checked="@(EventType.IndividualSeatArrangement == Model?.EventType)" />
                <label asp-for="EventType">Individual Seats</label>
                <br />
                <input type="radio" asp-for="EventType" value="@((int)EventType.TableArrangement)" checked="@(EventType.TableArrangement == Model?.EventType)" />
                <label asp-for="EventType">Table Seating</label>


                <span asp-validation-for="EventType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StreetAddress" class="control-label">Street</label>
                <input asp-for="StreetAddress" class="form-control" required />
                <span asp-validation-for="StreetAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="City" class="control-label">City</label>
                            <input asp-for="City" class="form-control" required />
                            <span asp-validation-for="City" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col">
                            <label asp-for="ZipCode" class="control-label">Zip Code</label>
                            <input asp-for="ZipCode" class="form-control" required />
                            <span asp-validation-for="ZipCode" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="State" class="control-label">State</label>
                <input asp-for="State" class="form-control" required />
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventStart" class="control-label">Event Start Date / Time</label>
                <input asp-for="EventStart" class="form-control" required />
                <span asp-validation-for="EventStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventEnd" class="control-label">Event End Date / Time</label>
                <input asp-for="EventEnd" class="form-control"  required greaterThanEventStart="true"  />
                <span asp-validation-for="EventEnd" class="text-danger"></span>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                @if(!String.IsNullOrEmpty(Model.LogoPath))
                {
                    <img src="/@Model.LogoPath.Replace("\\","/")" style="padding:20px; max-height:100px" />
                }
                <label asp-for="EventLogo" class="control-label">Upload Logo</label>
                <input asp-for="EventLogo" class="form-control" />
                <span asp-validation-for="EventLogo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TableLayout" class="control-label">Upload Table Layout</label>
                <input asp-for="TableLayout" class="form-control" />
                <span asp-validation-for="TableLayout" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalTickets" class="control-label">Total Number of Tickets</label>
                <input asp-for="TotalTickets" class="form-control" required min="1" />
                <span asp-validation-for="TotalTickets" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookingStartDate" class="control-label">Booking Start Date</label>
                <input asp-for="BookingStartDate" class="form-control" required/>
                <span asp-validation-for="BookingStartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiscountCodes" class="control-label">Discount Codes</label>
                <button id="btnDiscountCodes">Add Codes</button>
            </div>
            <div class="form-group">
                <label asp-for="AllowInstallmentPlan" class="control-label">Installment Plan</label>
                <input asp-for="AllowInstallmentPlan" class="form-control" />
                <span asp-validation-for="AllowInstallmentPlan" class="text-danger"></span>
            </div>
            <div class="form-group" id="divLastPaymentDate" style="display:none;">
                <label asp-for="LastPaymentDate" class="control-label">Last Payment Date</label>
                <input asp-for="LastPaymentDate" class="form-control" />
                <span asp-validation-for="LastPaymentDate" class="text-danger"></span>
            </div>

        </div>
    </div>


    <div class="row">
        <div class="col-md-12 btn_section">
            @if (Model?.EventId == Guid.Empty)
            {
                <button type="submit" class="btn btn-primary" id="js-save">Add</button>
            }
            else
            {
                <button type="submit" class="btn btn-primary" id="js-save">Save</button>
            }
            <button type="button" class="btn btn-link" id="js-cancel">Cancel</button>
        </div>
    </div>


</div>
<div id="PromoContainer" class="container" style="display:none;">
    <div class="section_header">
        <div class="heading">
            <h2 class="page-title">Promo Codes</h2>
        </div>

        <div class="header_btn">

            <button type="button" class="btn btn-primary" id="js-add-promo-code"><i class="fa fa-user-plus" aria-hidden="true"></i>&nbsp;&nbsp;Add New Promo Code</button>
        </div>

    </div>
    @if (Model != null && Model.DiscountCodes!=null &&  Model.DiscountCodes.Count > 0)
    {
        <div class="row">
            
                <table id="promoCodeGrid">
                    <thead>
                        <tr role="row">
                            <th>
                                Name
                            </th>
                            <th>
                                Price/Percent
                            </th>
                            <th>
                                Expiration
                            </th>

                            <th>
                                Flat
                            </th>
                            <th>
                                &nbsp;
                            </th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var code in Model.DiscountCodes)
                        {
                        <tr role="row">
                            <td><input type="hidden" class="js-existing-code-hidden" data-existing-id="@code.DiscountCodeId" />@code.Code</td>
                            <td>@code.PriceOrPercentage</td>
                            <td><input class="js-discount-date" value="@code.ExpirationDate" /></td>
                            <td><input type="checkbox" @if (code.IsFlatDiscount) { <text> checked</text>} /></td>
                            <td>&nbsp;</td>
                        </tr>
                        }
                    </tbody>
                </table>
            
        </div>

    }
    <div class="row" style="padding-top:50px;">
        <div class="col-md-12 btn_section">
            <button type="submit" class="btn btn-primary" id="js-save-promo">Save</button>
            <button type="button" class="btn btn-link" id="js-cancel-promo">Cancel</button>
        </div>
    </div>
</div>
