﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">

    <title>{{Master.Title}}</title>
    <style type="text/css">
        .appleLinks a {
            color: #EF3340 !important;
            text-decoration: none !important;
        }

        .ExternalClass * {
            line-height: 100%
        }

        span.preheader {
            display: none !important;
        }

        /* Gmail Fix */
        div, p, a, li, td {
            -webkit-text-size-adjust: none;
        }



        span.outlookLink span {
            color: inherit !important;
            border-bottom-width: 0 !important;
            border-bottom-style: none !important;
        }

        strong {
            font-weight: bold !important;
        }

        em {
            font-style: italic !important;
        }

        @media only screen and (min-width : 200px) and (max-width : 480px) {
            table[class="content_320"] {
                width: 320px !important;
                margin-left: auto !important;
                margin-right: auto !important;
            }

            table[class="content_290"] {
                width: 290px !important;
                margin-left: auto !important;
                margin-right: auto !important;
            }


            *[class="hide"] {
                display: none !important;
            }

            /* Width */
            *[class="w16"] {
                width: 15px !important;
            }

            *[class="w10"] {
                width: 10px !important;
            }

            *[class="w130"] {
                width: 130px !important;
            }

            *[class="w170"] {
                width: 170px !important;
            }

            /* Height */
            td[class="h30"] {
                height: 30px !important;
            }

            /* Hide and Show Items */
            *[class="show_div"] {
                width: auto !important;
                height: auto !important;
                overflow: auto !important;
                min-height: auto !important;
                line-height: auto !important;
                font-size: auto !important;
                display: block !important;
            }

            img[class="show_hidden"] {
                width: 295px !important;
                height: 57px !important;
                display: block !important;
            }

            img[class="show_hidden_hero"] {
                width: 320px !important;
                height: 717px !important;
                display: block !important;
            }

            /*FONTS*/
            td[class="f10_lh120"] {
                font-size: 10px !important;
                line-height: 120% !important;
            }

            a[class="underlined"] {
                text-decoration: underline !important;
            }

            *[class="block_left"] {
                text-align: left !important;
            }
        }
    </style>
</head>




<body style="width: 100% !important; -webkit-text-size-adjust: none; -ms-text-size-adjust: none; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0; background: #E1E1E1;">

    <!-- ENTIRE TABLE WRAPPER STARTS -->
    <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%">
        <tbody>
            <tr>
                <td align="center" bgcolor="#E1E1E1" valign="top">
                    <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="content_320" width="550">
                        <!-- THIS IS WHERE ALL CONTENT STARTS -->
                        <tbody>
                            <tr>
                                <td align="center" valign="top">
                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%">
                                        <tbody>
                                            <tr>
                                                <td align="center" valign="top">
                                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="content_320" width="550">


                                                        <tbody>
                                                            <!-- VERTICAL SPACING -->
                                                            <tr>
                                                                <td align="left" height="12" style="line-height: 0px;" valign="top">
                                                                    <img alt="" border="0" height="1" src="{{Master.BaseUrl}}/email/img/spacer.gif/email/img/spacer.gif" style="display: block; line-height: 0px; font-size: 0px;" width="1">
                                                                </td>
                                                            </tr>
                                                            <!-- VERTICAL SPACING -->
                                                            <!-- MAIN CONTAINER STARTS -->
                                                            <tr>
                                                                <td align="left" valign="top">
                                                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td align="left" bgcolor="#FFFFFF" valign="top">
                                                                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                                        <!-- GMAIL FIX START -->
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td align="left" class="hide" height="1" style="line-height: 0px; font-size: 0px;" valign="top">
                                                                                                    <img alt="" border="0" class="hide" height="1" src="{{Master.BaseUrl}}/email/img/spacer.gif/email/img/spacer.gif" style="max-height: 1px; min-height: 1px; display: block; width: 550px; min-width: 550px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; border-style: none; border-width: 0px;" width="550">
                                                                                                </td>
                                                                                            </tr>
                                                                                            <!-- GMAIL FIX END -->
                                                                                            <!-- HEADER SECTION WITH LOGO -->
                                                                                            <tr>
                                                                                                <td align="left" valign="top">
                                                                                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                                                        <tbody>
                                                                                                            <tr>


                                                                                                                <!-- MAIN LOGO CONTENT AREA STARTS -->
                                                                                                                <td align="left" valign="top" bgcolor="#EF3340">
                                                                                                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%">

                                                                                                                        <!-- VERTICAL SPACING -->
                                                                                                                        <tbody>
                                                                                                                            <tr>
                                                                                                                                <td align="left" height="29" style="line-height: 0px; font-size: 0px;" valign="top">
                                                                                                                                    <img alt="" border="0" height="1" src="{{Master.BaseUrl}}/email/img/spacer.gif/email/img/spacer.gif" style="display: block; line-height: 0px; font-size: 0px;" width="1">
                                                                                                                                </td>
                                                                                                                            </tr>
                                                                                                                            <!-- VERTICAL SPACING -->

                                                                                                                            <tr>
                                                                                                                                <td align="left" valign="top">
                                                                                                                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                                                                                        <tbody>
                                                                                                                                            <tr>
                                                                                                                                                <!-- LOGO WITH HYPERLINK STARTS -->
                                                                                                                                                <td align="left" style="font-size: 0px; line-height: 0px; font-size: 0px;" valign="top" width="550">
                                                                                                                                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="550">
                                                                                                                                                        <tbody>
                                                                                                                                                            <tr>
                                                                                                                                                                <td align="center" style="font-size: 0px; line-height: 0px; font-size: 0px;" valign="top">
                                                                                                                                                                    <img alt="" border="0" height="89" src="{{Master.BaseUrl}}/email/img/99a59b6304855fdfecf4240e0f7350f8.png" style="display: block; line-height: 0px;" width="226">
                                                                                                                                                                </td>
                                                                                                                                                            </tr>
                                                                                                                                                        </tbody>
                                                                                                                                                    </table>
                                                                                                                                                </td>
                                                                                                                                                <!-- LOGO WITH HYPERLINK ENDS -->
                                                                                                                                            </tr>
                                                                                                                                        </tbody>
                                                                                                                                    </table>
                                                                                                                                </td>
                                                                                                                            </tr>

                                                                                                                            <!-- VERTICAL SPACING -->
                                                                                                                            <tr>
                                                                                                                                <td align="left" height="21" style="line-height: 0px; font-size: 0px;" valign="top">
                                                                                                                                    <img alt="" border="0" height="1" src="{{Master.BaseUrl}}/email/img/spacer.gif/email/img/spacer.gif" style="display: block; line-height: 0px; font-size: 0px;" width="1">
                                                                                                                                </td>
                                                                                                                            </tr>
                                                                                                                            <!-- VERTICAL SPACING -->
                                                                                                                        </tbody>
                                                                                                                    </table>
                                                                                                                </td>
                                                                                                                <!-- MAIN LOGO CONTENT AREA ENDS -->

                                                                                                            </tr>
                                                                                                        </tbody>
                                                                                                    </table>
                                                                                                </td>
                                                                                            </tr>
                                                                                            <!-- HEADER SECTION WITH LOGO  -->
                                                                                            <!-- BODY SECTION STARTS -->
                                                                                            <!-- VERTICAL SPACING -->
                                                                                            <tr>
                                                                                                <td align="left" class="h30" height="40" style="line-height: 0px; font-size: 0px;" valign="top">
                                                                                                    <img alt="" border="0" height="1" src="{{Master.BaseUrl}}/email/img/spacer.gif/email/img/spacer.gif" style="display: block; line-height: 0px; font-size: 0px;" width="1">
                                                                                                </td>
                                                                                            </tr>
                                                                                            <!-- VERTICAL SPACING -->

                                                                                            <tr>
                                                                                                <td align="left" valign="top">
                                                                                                    {{Master.Template}}
                                                                                                </td>
                                                                                            </tr>

                                                                                            <!-- VERTICAL SPACING -->
                                                                                            <tr>
                                                                                                <td align="left" class="h30" height="26" style="line-height: 0px; font-size: 0px;" valign="top">
                                                                                                    <img alt="" border="0" height="1" src="{{Master.BaseUrl}}/email/img/spacer.gif/email/img/spacer.gif" style="display: block; line-height: 0px; font-size: 0px;" width="1">
                                                                                                </td>
                                                                                            </tr>
                                                                                            <!-- VERTICAL SPACING -->
                                                                                            <!-- BODY SECTION ENDS -->
                                                                                            <!-- FOOTER SECTION STARTS -->
                                                                                            <tr>
                                                                                                <td align="left" bgcolor="#E8E8E8" valign="top">
                                                                                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="content_320" width="100%">

                                                                                                        <!-- VERTICAL SPACING -->
                                                                                                        <tbody>
                                                                                                            <tr>
                                                                                                                <td align="left" height="32" style="line-height: 0px; font-size: 0px;" valign="top">
                                                                                                                    <img alt="" border="0" height="1" src="{{Master.BaseUrl}}/email/img/spacer.gif/email/img/spacer.gif" style="display: block; line-height: 0px; font-size: 0px;" width="1">
                                                                                                                </td>
                                                                                                            </tr>
                                                                                                            <!-- VERTICAL SPACING -->
                                                                                                            <!-- DEFAULT FOOTER LINKS SECTION STARTS -->
                                                                                                            <tr>
                                                                                                                <td align="center" valign="top">
                                                                                                                    <table role="presentation" align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                                                                        <tbody>
                                                                                                                            <tr>
                                                                                                                                <td align="center" class="f10_lh120" style="font-family: Inter, Arial, Helvetica, sans-serif; font-size:11px; line-height: 120%; color: #086b94;" valign="top">
                                                                                                                                    <a href="" style="color: #1A2028; text-decoration:none;" target="_blank" title="Follow us on Twitter"><img src="{{Master.BaseUrl}}/email/img/Twitter.png" /></a>&nbsp;&nbsp;<a href="" style="color: #1A2028; text-decoration:none;" target="_blank" title="See us on Facebook"><img src="{{Master.BaseUrl}}/email/img/Facebook.png" /></a>&nbsp;&nbsp;<a href="" style="color: #1A2028; text-decoration:none;" target="_blank" title="Look at us on Instagram"><img src="{{Master.BaseUrl}}/email/img/Instagram.png" /></a>
                                                                                                                                </td>
                                                                                                                            </tr>
                                                                                                                        </tbody>
                                                                                                                    </table>
                                                                                                                </td>
                                                                                                            </tr>
                                                                                                            <!-- DEFAULT FOOTER LINKS SECTION ENDS -->
                                                                                                            <!-- VERTICAL SPACING -->
                                                                                                            <tr>
                                                                                                                <td align="left" height="30" style="line-height: 0px; font-size: 0px;" valign="top">
                                                                                                                    <img alt="" border="0" height="1" src="{{Master.BaseUrl}}/email/img/spacer.gif/email/img/spacer.gif" style="display: block; line-height: 0px; font-size: 0px;" width="1">
                                                                                                                </td>
                                                                                                            </tr>
                                                                                                            <!-- VERTICAL SPACING -->
                                                                                                            <!-- FOOTER DISCLOSURES SECTION STARTS -->
                                                                                                            <tr>
                                                                                                                <td align="left" valign="top">
                                                                                                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                                                                        <tbody>
                                                                                                                            <tr>

                                                                                                                                <!-- LEFT SIDE MARGIN -->
                                                                                                                                <td width="32" align="left" class="w16" style="line-height: 0px; font-size: 0px;" valign="top">
                                                                                                                                    <img alt="" border="0" height="1" src="{{Master.BaseUrl}}/email/img/spacer.gif" style="display: block; line-height: 0px; font-size: 0px;" width="1">
                                                                                                                                </td>
                                                                                                                                <!-- LEFT SIDE MARGIN -->
                                                                                                                                <!-- MAIN BODY CONTENT AREA START -->
                                                                                                                                <td align="left" valign="top">
                                                                                                                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%">

                                                                                                                                        <!-- CONTENT BLOCK -->
                                                                                                                                        <tbody>
                                                                                                                                            <tr>
                                                                                                                                                <td align="center" style="font-size: 14px; line-height: 120%; font-family: Inter, Arial, Helvetica, sans-serif; color: #262626" valign="top" width="100%">
                                                                                                                                                    <span><a href="http://www.diffadallas.org" style="text-decoration: none; color: #262626;" target="_blank" title="diffa.org">diffa.org</a></span>
                                                                                                                                                </td>
                                                                                                                                            </tr>
                                                                                                                                            <!-- CONTENT BLOCK -->
                                                                                                                                            <!-- VERTICAL SPACING -->
                                                                                                                                            <tr>
                                                                                                                                                <td align="left" height="10" style="line-height: 0px; font-size: 0px;" valign="top">
                                                                                                                                                    <img alt="" border="0" height="1" https: //kt-dev-diffa.azurewebsites.net/email/img/spacer.gif style="display: block; line-height: 0px; font-size: 0px;" width="1">
                                                                                                                                                </td>
                                                                                                                                            </tr>
                                                                                                                                            <!-- VERTICAL SPACING -->
                                                                                                                                            <!-- CONTENT BLOCK -->
                                                                                                                                            <tr>
                                                                                                                                                <td align="center" style="font-family: Inter, Arial, Helvetica, sans-serif; font-size: 10px; line-height: 16px; font-weight: 400; color: #262626;" valign="top">
                                                                                                                                                    1725 Slough Avenue #200, Scranton, PA, 18540
                                                                                                                                                </td>
                                                                                                                                            </tr>
                                                                                                                                            <!-- CONTENT BLOCK -->
                                                                                                                                            <!-- VERTICAL SPACING -->
                                                                                                                                            <tr>
                                                                                                                                                <td align="left" height="60" style="line-height: 0px; font-size: 0px;" valign="top">
                                                                                                                                                    <img alt="" border="0" height="1" src="{{Master.BaseUrl}}/email/img/spacer.gif/email/img/spacer.gif" style="display: block; line-height: 0px; font-size: 0px;" width="1">
                                                                                                                                                </td>
                                                                                                                                            </tr>
                                                                                                                                            <!-- VERTICAL SPACING -->
                                                                                                                                            <!-- CONTENT BLOCK -->
                                                                                                                                            <tr>
                                                                                                                                                <td align="center" style="font-family: Inter, Arial, Helvetica, sans-serif; font-size:11px; line-height: 120%; font-weight:500;color: #292A2C;" valign="top">
                                                                                                                                                    <span>©&nbsp;2021 Diffa/Dallas.​</span>
                                                                                                                                                </td>
                                                                                                                                            </tr>
                                                                                                                                            <!-- CONTENT BLOCK -->
                                                                                                                                            <!-- VERTICAL SPACING -->
                                                                                                                                            <tr>
                                                                                                                                                <td align="left" height="15" style="line-height: 0px; font-size: 0px;" valign="top">
                                                                                                                                                    <img alt="" border="0" height="1" src="{{Master.BaseUrl}}/email/img/spacer.gif/email/img/spacer.gif" style="display: block; line-height: 0px; font-size: 0px;" width="1">
                                                                                                                                                </td>
                                                                                                                                            </tr>
                                                                                                                                            <!-- VERTICAL SPACING -->

                                                                                                                                        </tbody>
                                                                                                                                    </table>
                                                                                                                                </td>
                                                                                                                                <!-- MAIN BODY CONTENT AREA ENDS -->
                                                                                                                                <!-- RIGHT SIDE MARGIN -->
                                                                                                                                <td width="32" align="left" class="w16" style="line-height: 0px; font-size: 0px;" valign="top">
                                                                                                                                    <img alt="" border="0" height="1" src="{{Master.BaseUrl}}/email/img/spacer.gif/email/img/spacer.gif" style="display: block; line-height: 0px; font-size: 0px;" width="1">
                                                                                                                                </td>
                                                                                                                                <!-- RIGHT SIDE MARGIN -->

                                                                                                                            </tr>
                                                                                                                        </tbody>
                                                                                                                    </table>
                                                                                                                </td>
                                                                                                            </tr>
                                                                                                            <!-- FOOTER DISCLOSURES SECTION ENDS -->
                                                                                                            <!-- VERTICAL SPACING -->
                                                                                                            <tr>
                                                                                                                <td align="left" height="10" style="line-height: 0px; font-size: 0px;" valign="top">
                                                                                                                    <img alt="" border="0" height="1" src="{{Master.BaseUrl}}/email/img/spacer.gif/email/img/spacer.gif" style="display: block; line-height: 0px; font-size: 0px;" width="1">
                                                                                                                </td>
                                                                                                            </tr>
                                                                                                            <!-- VERTICAL SPACING -->

                                                                                                        </tbody>
                                                                                                    </table>
                                                                                                </td>
                                                                                            </tr>
                                                                                            <!-- FOOTER SECTION ENDS -->

                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <!-- MAIN CONTAINER ENDS -->

                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <!-- THIS IS WHERE ALL CONTENT ENDS -->
                            <!-- GMAIL FIX START -->
                            <tr>
                                <td align="left" class="hide" height="1" style="line-height: 0px; font-size: 0px;" valign="top">
                                    <img alt="" border="0" class="hide" height="1" src="{{Master.BaseUrl}}/email/img/spacer.gif/email/img/spacer.gif" style="max-height: 1px; min-height: 1px; display: block; width: 550px; min-width: 550px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; border-style: none; border-width: 0px;" width="550">
                                </td>
                            </tr>
                            <!-- GMAIL FIX END -->

                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    <!-- ENTIRE TABLE WRAPPER ENDS -->
</body>
</html>