﻿<table role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%">
    <tbody>
        <tr>

            <!-- MAIN BODY CONTENT AREA STARTS -->
            <td align="center" valign="top">
                <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="420" class="content_290">

                    <!-- CONTENT BLOCK -->
                    <tbody>
                        <tr>
                            <td align="center" style="font-family: Inter, Arial, Helvetica, sans-serif; color: #1A2028; font-weight: 700; font-size: 36px; line-height: 43px; " valign="top">
                                Email Confirmation
                            </td>
                        </tr>
                        <!-- CONTENT BLOCK -->
                        <!-- VERTICAL SPACING -->
                        <tr>
                            <td align="left" height="32" style="line-height: 0px; font-size: 0px;" valign="top">
                                <img alt="" border="0" height="1" src="{{Master.BaseUrl}}/email/img/spacer.gif/email/img/spacer.gif" style="display: block; line-height: 0px; font-size: 0px;" width="1">
                            </td>
                        </tr>
                        <!-- VERTICAL SPACING -->
                        <!-- NEW SECTION -->
                        <tr>
                            <td align="center" style="font-family: Inter, Arial, Helvetica, sans-serif; color: #262626; font-size: 14px; font-weight: 400; line-height: 17px;" valign="top">
                                &nbsp;
                            </td>
                        </tr>
                        <!-- NEW SECTION -->
                        <!-- VERTICAL SPACING -->
                        <tr>
                            <td align="center" class="h30" height="48" style="line-height: 0px; font-size: 0px;" valign="top">
                                <img alt="" border="0" height="1" src="{{Master.BaseUrl}}/email/img/spacer.gif/email/img/spacer.gif" style="display: block; line-height: 0px; font-size: 0px;" width="1">
                            </td>
                        </tr>
                        <!-- VERTICAL SPACING -->
                        <!-- NEW SECTION -->
                        <tr>
                            <td align="center" style="font-family: Inter, Arial, Helvetica, sans-serif; color: #262626; font-size: 14px; font-weight: 400; line-height: 17px;" valign="top">
                                Please confirm your account by:

                            </td>
                        </tr>
                        <!-- NEW SECTION -->
                        <!-- VERTICAL SPACING -->
                        <tr>
                            <td align="center" class="h30" height="16" style="line-height: 0px; font-size: 0px;" valign="top">
                                <img alt="" border="0" height="1" src="{{Master.BaseUrl}}/email/img/spacer.gif/email/img/spacer.gif" style="display: block; line-height: 0px; font-size: 0px;" width="1">
                            </td>
                        </tr>
                        <!-- VERTICAL SPACING -->
                        <!-- NEW SECTION -->
                        <tr>
                            <td align="center" style="font-family: Inter, Arial, Helvetica, sans-serif; color: #EF3340; font-size: 14px; line-height: 16px;" valign="top">
                                <a href="{{ConfirmUrl}}" style="font-size: 14px; color: #EF3340; font-weight: 700; text-decoration: underline;" target="_blank" title="click here to unsubscribe">Clicking Here</a>

                            </td>
                        </tr>
                        <!-- NEW SECTION -->
                        <!-- VERTICAL SPACING -->
                        <tr>
                            <td align="center" class="h30" height="16" style="line-height: 0px; font-size: 0px;" valign="top">
                                <img alt="" border="0" height="1" src="{{Master.BaseUrl}}/email/img/spacer.gif/email/img/spacer.gif" style="display: block; line-height: 0px; font-size: 0px;" width="1">
                            </td>
                        </tr>
                        <!-- VERTICAL SPACING -->
                        <!-- NEW SECTION -->
                        <tr>
                            <td align="center" style="font-family: Inter, Arial, Helvetica, sans-serif; color: #1A2028; font-size: 14px; line-height: 16px;" valign="top">
                                Please note that this link will expire within 12 hours.

                            </td>
                        </tr>
                        <!-- NEW SECTION -->
                        <!-- VERTICAL SPACING -->
                        <tr>
                            <td align="center" class="h30" height="16" style="line-height: 0px; font-size: 0px;" valign="top">
                                <img alt="" border="0" height="1" src="{{Master.BaseUrl}}/email/img/spacer.gif/email/img/spacer.gif" style="display: block; line-height: 0px; font-size: 0px;" width="1">
                            </td>
                        </tr>
                        <!-- VERTICAL SPACING -->
                        <!-- NEW SECTION -->
                        <tr>
                            <td align="center" style="font-family: Inter, Arial, Helvetica, sans-serif; color: #1A2028; font-size: 14px; line-height: 16px;" valign="top">
                                <a href="https://www.diffadallas.org/contact" style="font-size: 14px; color: #EF3340; font-weight: 700; text-decoration: underline;" target="_blank" title="click here to unsubscribe">Confused?</a>

                            </td>
                        </tr>
                        <!-- NEW SECTION -->
                        <!-- VERTICAL SPACING -->
                        <tr>
                            <td align="center" class="h30" height="16" style="line-height: 0px; font-size: 0px;" valign="top">
                                <img alt="" border="0" height="1" src="{{Master.BaseUrl}}/email/img/spacer.gif/email/img/spacer.gif" style="display: block; line-height: 0px; font-size: 0px;" width="1">
                            </td>
                        </tr>
                        <!-- VERTICAL SPACING -->
                        <!-- NEW SECTION -->
                        <tr>
                            <td align="center" style="font-family: Inter, Arial, Helvetica, sans-serif; color: #1A2028; font-size: 14px; line-height: 16px;" valign="top">

                                If you have any further questions about your account, please visit our <a href="https://www.diffadallas.org/contact" style="font-size: 14px; color: #EF3340; font-weight: 700; text-decoration: underline;" target="_blank" title="click here to unsubscribe">FAQ</a>, or contact us at <span style="font-weight: 700;">help@diffa.org</span>
                            </td>
                        </tr>
                        <!-- NEW SECTION -->
                        <!-- VERTICAL SPACING -->
                        <tr>
                            <td align="center" class="h30" height="16" style="line-height: 0px; font-size: 0px;" valign="top">
                                <img alt="" border="0" height="1" src="{{Master.BaseUrl}}/email/img/spacer.gif/email/img/spacer.gif" style="display: block; line-height: 0px; font-size: 0px;" width="1">
                            </td>
                        </tr>
                        <!-- VERTICAL SPACING -->
                    </tbody>
                </table>
            </td>
            <!-- MAIN BODY CONTENT AREA ENDS -->

        </tr>
    </tbody>
</table>