﻿
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="page_header">
    <div class="heading">
        <h1 class="page-title">Manage Events</h1>
    </div>

</div>


<div class="page_area">
    <div class="page_body">
        <div class="section_header">
            <div class="heading">
                <h2 class="page-title">Add Event</h2>
            </div>

        </div>
        <div class="section_area">
            <div class="section_body">
                <form method="post" id="js-event-form" enctype="multipart/form-data" action="/admin/events/add-event">

                    @await Html.PartialAsync("~/Areas/Admin/Views/Events/Partial/_EventForm.cshtml")

                </form>
            </div>
        </div>
    </div>
</div>