﻿@using Diffa.Areas.Admin.Models 
@model List<EventFormViewModel>
<style>
    #eventsGrid td {
        vertical-align: middle;
    }
</style>
@{ 
    var productNames = string.Empty;
    var tableNames = string.Empty;
}
<div class="section_header">
    <div class="heading">
        <h2 class="page-title">Events List</h2>
    </div>
    
    <div class="header_btn">

        <button type="button" class="btn btn-primary" id="js-add-event"><i class="fa fa-user-plus" aria-hidden="true"></i>&nbsp;&nbsp;Add New Event</button>
    </div>

</div>
<div>
    @if (Model != null && Model.Count > 0)
    {
        <div id="eventsGrid">
            <table class="table table-striped">
                <thead>
                    <tr role="row">
                        <th>
                            &nbsp;
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Date
                        </th>
                        <th>
                            Published
                        </th>

                        <th>
                            Attendees
                        </th>
                        <th>
                            Tables
                        </th>
                        <th>
                            Products
                        </th>
                        <th>
                            Delete
                        </th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var diffaEvent in Model)
                    {
                        tableNames = string.Empty;
                        productNames = string.Empty;

                        <tr role="row">
                            <td>
                                @if (!String.IsNullOrEmpty(diffaEvent.LogoPath))
                                {
                                    <img src="/@diffaEvent.LogoPath.Replace("\\","/")" style="padding:20px; max-width:200px" />
                                }
                            </td>
                            <td><button type="button" data-id="@diffaEvent.EventId" class="btn btn-link js-edit-event">@diffaEvent.Name</button></td>
                            <td>@diffaEvent.EventStart?.ToShortDateString()</td>
                            <td>
                                @if (diffaEvent.PublishedDate.HasValue)
                                {
                                    <span>Published On: @diffaEvent.PublishedDate.Value.ToShortDateString()</span>
                                }
                                else
                                {
                                    <button type="button" data-id="@diffaEvent.EventId" class="btn btn-link js-publish-event">Publish</button>
                                }
                            </td>
                            <td>Attendees</td>
                            <td><button type="button" data-id="@diffaEvent.EventId" class="btn btn-link js-tables-event">
                                @foreach(TableFormViewModel table in ViewBag.Tables)
                                {
                                    if(string.Equals(table.EventId, diffaEvent.EventId))
                                    {
                                        tableNames = table.TableName;
                                    }
                                }
                                @tableNames
                                </button>
                            </td>
                            <td><button type="button" data-id="@diffaEvent.EventId" class="btn btn-link js-products-event">
                                @foreach (ProductFormViewModel product in ViewBag.Products)
                                {
                                    if (string.Equals(product.EventId, diffaEvent.EventId))
                                    {
                                        productNames = product.Name;
                                    }
                                }
                                @productNames
                                </button>
                            </td>
                            <td><button type="button" data-id="@diffaEvent.EventId" class="btn btn-link js-delete-event">Delete</button></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>