﻿.btn-primary {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 0;
    line-height: normal;
    padding: 10px 30px;
    cursor: pointer;
    min-width: 130px;
    border-radius: 50px;
    -webkit-box-shadow: $shadow-color;
    -moz-box-shadow: $shadow-color;
    box-shadow: $shadow-color;
    background-color: $brandred;
    border-color: $brandred;
    text-transform: uppercase;
}

.btn-primary:hover {
    color: #fff;
    background-color: $brandblack;
    border-color: $brandblack;
}
.btn-primary:focus, .btn-primary.focus {
    color: #fff;
    background-color: $brandblack;
    border-color: $brandblack;
    box-shadow: $shadow-focus;
}
.btn.focus, .btn:focus {
    outline: 0;
    -webkit-box-shadow: $shadow-color;
    -moz-box-shadow: $shadow-color;
    box-shadow: $shadow-color;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: $shadow-focus;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: $brandblack;
    border-color: $brandblack;
}

.btn-red {
    background-color: $brandred;
}

.btn-grey {
    background-color: $slate;
}

.btn-black {
    background-color: $brandblack;
}

a.btn:hover,
.btn-primary:hover {
    color: #fff;
}

.btn-link {
    padding: 0;
}
.btn.btn-link:focus, .btn.btn-link.focus {
    text-decoration: underline;
    box-shadow: inherit;
}
