﻿$brandred: #ed1b23;
$brandblack: #000;
$slate: #2d2d2d;
$medgray: #dee2e6;
$darkgray: #647B8D;
$lightgray: #E9F6FF;
$lightblue: #f3f4fd;
$shadow-color: 0 0 11px 0 rgba(237,27,35,0.4);
$shadow-focus: 0 0 11px 0 rgba(2,2,2,0.4);