﻿.field-group select.form-control, 
.field-group .form-control,
.form-control {
    font-size: 18px;
    
    height: 50px;
    color: #000;
    padding: 0px;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #acacac;
    background-color: transparent;
    border-radius: 0;
}

.field-group textarea.form-control, textarea.form-control {
    height: 100px;
    resize: none;
}

.form-control.datepicker, .form-control.timepicker {
    background-image: url(../images/calendar.png);
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: 99% 50%;
    padding-right: 30px;
}

.form-control.timepicker {
    background-image: url(../images/clock.png);
}

input[type="file"].form-control {
    margin-top: 15px;
    height: auto;
    border: 0;
}

.form-control:focus {
    box-shadow: none;
    background-color: transparent;
    border-color: #acacac;
}

.field-group select.form-control {
    padding: 0px 30px 0 0;
}

select.form-control:not([size]):not([multiple]) {
    height: 50px;
}


.field-group {
    margin-bottom: 50px;
    position: relative;
}

.invalid-feedback, .invalid-text {
    position: absolute;
    top: 7px;
    right: 2px;
    font-size: 30px;
    font-weight: 500;
    width: auto;
    color: #dc3545;
}

.custom-checkbox input[type=checkbox], .custom-radio input[type=radio] {
    opacity: 0;
    height: 0;
    width: 0;
}

.custom-checkbox, .custom-radio {
    cursor: pointer;
    position: relative;
    margin: 0 15px 0 0;
    padding-left: 30px;
}

.custom-checkbox span:before, .custom-radio span:before {
    content: "";
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #000;
    background-color: #fff;
}

.custom-radio input[type=radio]:checked + span:after {
    content: "";
    width: 18px;
    height: 18px;
    position: absolute;
    background-color: #bebebe;
    left: 1px;
    top: 4px;
    border-radius: 50%;
    border: 3px solid #fff;
}

.custom-checkbox input[type=checkbox]:checked + span:after {
    content: "";
    width: 6px;
    height: 14px;
    position: absolute;
    left: 7px;
    top: 1.5px;
    border: solid #ec1b24;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.text-danger {
    color: #eb1c24 !important;
}

a.text-danger:focus, a.text-danger:hover {
    color: #eb1c24 !important;
}

.control-label {
    display: block;
    margin-bottom: 15px;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: 0;
    border-bottom: 2px solid #acacac;
    height: auto;
}

.select2-container--default .select2-selection--multiple {
    background-image: url(../images/arrow.png);
    background-repeat: no-repeat;
    background-position: calc(100% - 8px) 50%;
    font-size: 18px;
    font-family: 'Inter';
    height: 50px;
    color: #000;
    padding: 0px;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #acacac;
    background-color: transparent;
    border-radius: 0;
}
