﻿
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}


.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}
 

/*Header Css*/
.inner-header {
    display: table;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 11;
}

.inner-header-logo {
    background: #fff;
    text-align: center;
    width: 300px;
    display: table;
    height: 146px;
    border-bottom: 1px solid #ed1b24;
    border-right: 1px solid #b6b6b6;
}

.inner-header-logo img {
    width: 224px;
}

.inner-header-logo a {
    display: table-cell;
    vertical-align: middle;
}

.header_title {
    display: inline-block;
    float: left;
    width: calc(100% - 190px);
    text-align: left;
    padding: 26px 0 26px 45px;
}

.header_title h2 {
    display: inline-block;
    width: calc(100% - 30px);
    padding-left: 25px;
    line-height: 26px;
    font-size: 22px;
}

.navbar-toggle {
    position: relative;
    background-color: transparent;
    background-image: none;
    border: 0;
    outline: 0;
    cursor: pointer;
    padding: 7px 0;
    text-align: center;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    background-color: #454545;
    margin: 0 auto;
}

.navbar-toggle .icon-bar:nth-child(2) {
    width: 13px;
    margin-left: 0;
}

.navbar-toggle .icon-bar:nth-child(3) {
    width: 18px;
    margin-left: 0;
}

.navbar-toggle .icon-bar + .icon-bar {
    margin-top: 3px;
}

.inner-header-right {
    background-color: #fff;
    display: inline-block;
    float: left;
    width: 100%;
    text-align: right;
    padding-left: 300px;
}

.user-profile-outer {
    display: inline-block;
    position: relative;
    cursor: pointer;
    padding: 28px 45px 28px 0;
    width: 190px;
}

.user-profile-outer:hover .logout {
    display: block;
}

.profile_desc {
    display: inline-block;
    vertical-align: middle;
}

.profile_desc h5 {
    margin-bottom: 0;
    color: #777777;
    padding-bottom: 2px;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 112px;
}

.user-profile-outer:after {
    content: "\f078";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    color: #000;
    margin-left: 12px;
}

.user-profile-outer.active:after {
    content: "\f077";
}

.logout {
    min-width: 182px;
    display: none;
    position: absolute;
    background: #fee8ea;
    right: 45px;
    text-align: left;
    top: 60px;
    -webkit-box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.28);
    -moz-box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.28);
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.28);
}

.logout li {
    padding: 12px 16px;
}

.logout li a, .logout li {
    color: #403e3f;
    text-transform: capitalize;
    font-size: 16px;
    width: 100%;
    display: block;
}

.logout li a i {
    float: right;
}

.navigation nav {
    padding: 37px 0 0;
    max-height: calc(100vh - 148px);
}

.navigation {
    position: fixed;
    width: 300px;
    height: 100%;
    background: #2d2d2d;
    top: 0;
    z-index: 12;
}

.navigation ul .nav-small-cap {
    font-size: 14px;
    color: #ed1b24;
    padding: 18px 47px;
}

.navigation li a {
    font-size: 18px;
    color: #777777;
    font-family: 'SourceSans Pro SemiBold';
    padding: 18px 47px;
    display: block;
    border-right: 5px solid transparent;
}

.navigation li.active a, .navigation li a:hover {
    border-right: 5px solid #ed1b24;
    color: #ed1b24;
    background-color: #e9ecfa;
}
