﻿


.login_module {
    background-image: url(../images/login_banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.login_container {
    display: table;
    width: 100%;
    padding: 1px 0;
    /*height: calc(100vh - 76px);*/
    height: calc(100vh);
    max-width: 740px;
    margin: 0 auto;
}

.login_inner {
    display: table-cell;
    vertical-align: middle;
}

.login_form {
    background-color: rgba(238, 238, 238, 0.86);
}

.login_data .field-group {
    margin-bottom: 30px;
}

.login_data .field-group .form-control::-webkit-input-placeholder {
    color: #565353 !important;
}

.login_data .field-group .form-control::-moz-placeholder {
    color: #565353 !important;
}

.login_data .field-group .form-control:-ms-input-placeholder {
    color: #565353 !important;
}

.login_data .field-group .form-control:-moz-placeholder {
    color: #565353 !important;
}

.login_data {
    padding: 66px 0 42px;
    max-width: 626px;
    margin: 0 auto;
}

.login_data a {
    color: #2c7fd3;
    text-decoration: underline;
    font-family: 'SourceSans Pro SemiBold';
    display: table;
    margin: 0 auto;
}

.login_data .btn {
    display: block;
    margin: 0 auto;
    min-width: 180px;
}

.login_footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    left: 0;
    right: 0;
    background-color: #fff;
    font-size: 16px;
    padding: 30px 15px;
}

.login_footer a {
    color: #000;
}

.remember_pass .pass_checkbox {
    width: 210px;
    display: inline-block;
    float: left;
}

.remember_pass .sign_up {
    display: inline-block;
    float: left;
    width: calc(100% - 210px);
    text-align: right;
}

.remember_pass .pass_checkbox .custom-checkbox {
    margin: 0;
}

.remember_pass .sign_up a {
    display: inline-block;
    margin: 0;
}

.remember_pass {
    display: inline-block;
    width: 100%;
}


/*Change Password*/
.change_pass {
    max-width: 500px;
    padding: 48px 20px 120px;
}

/*New Staff Details*/
.btn_section {
    text-align: right;
}

.btn_section .btn {
    margin-left: 5px;
}

.new_staff {
    padding: 50px 30px;
}

/*Reset password*/
.login_form h2 {
    font-family: 'SourceSans Pro SemiBold';
    padding-top: 30px;
}

.reset_pass .logo img {
    width: 140px;
}
