﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/*a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}
*/
/* Provide sufficient contrast against white background */
/*a {
    color: #0366d6;
}
*/
/*.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}*/
/*
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}
*/
/* Sticky footer styles
-------------------------------------------------- */
/*html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}*/

/* Sticky footer styles
-------------------------------------------------- */
/*html {
    position: relative;
    min-height: 100%;
}

body {*/
    /* Margin bottom by footer height */
    /*margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;*/ /* Vertically center the text there */
/*}*/



/*COPIED FROM DIFFA*/
/*@font-face {
    font-family: 'SourceSans Pro Regular';
    src: url('../fonts/sourcesanspro-regular.eot');
    src: url('../fonts/sourcesanspro-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/sourcesanspro-regular.woff2') format('woff2'), url('../fonts/sourcesanspro-regular.woff') format('woff'), url('../fonts/sourcesanspro-regular.ttf') format('truetype'), url('../fonts/sourcesanspro-regular.svg#source_sans_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSans Pro SemiBold';
    src: url('../fonts/sourcesanspro-semibold.eot');
    src: url('../fonts/sourcesanspro-semibold.eot?#iefix') format('embedded-opentype'), url('../fonts/sourcesanspro-semibold.woff2') format('woff2'), url('../fonts/sourcesanspro-semibold.woff') format('woff'), url('../fonts/sourcesanspro-semibold.ttf') format('truetype'), url('../fonts/sourcesanspro-semibold.svg#source_sans_prosemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}*/
/* Basic Style  */
/*body {
    font-family: 'SourceSans Pro Regular';
    background: #eaeaea;
    color: #000;
    font-size: 18px;
    font-weight: normal;
    line-height: 1;
    margin: 0 auto;
    position: relative;
}

ul, ol, li, ul ul, ol ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    border: none;
    max-width: 100%;
}

.clear:after {
    clear: both;
    content: '';
    display: table;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
*/
/*input:hover, input:focus {
    outline: none;
}

input[type="text"], input[type="tel"], input[type="number"], input[type="email"], input[type="password"], input[type="search"], textarea, button, input[type="submit"], select {
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    box-shadow: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

input[type=radio], input[type=checkbox] {
    outline: none;
}

input::-ms-clear, input::-ms-reveal, select::-ms-expand {
    display: none;
}

label {
    font-weight: normal;
    margin: 0px;
    font-family: 'SourceSans Pro SemiBold';
    color: #394047;
}

textarea {
    resize: none;
    width: 100%;
}

select {
    background-image: url(../images/arrow.png);
    background-repeat: no-repeat;
    background-position: calc(100% - 8px) 50%;
    width: 100%;
}

::-webkit-input-placeholder {
    color: #acacac !important;
}

::-moz-placeholder {
    color: #acacac !important;
}

:-ms-input-placeholder {
    color: #acacac !important;
}

:-moz-placeholder {
    color: #acacac !important;
}
*/
/*a, a:hover {
    text-decoration: none;
}*/
/*
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 22px;
}

h6 {
    font-size: 18px;
}*/
/*
.btn.focus, .btn:focus {
    outline: 0;
    -webkit-box-shadow: 0px 0px 11px 0px rgba(2,2,2,0.4);
    -moz-box-shadow: 0px 0px 11px 0px rgba(2,2,2,0.4);
    box-shadow: 0px 0px 11px 0px rgba(2,2,2,0.4);
}

.btn-red {
    background-color: #ed1b23;
}

.btn-grey {
    background-color: #7d7d7d;
}

.btn-black {
    background-color: #000000;
}

.field-group select.form-control, .field-group .form-control, .form-control {
    font-size: 18px;
    font-family: 'SourceSans Pro Regular';
    height: 50px;
    color: #000;
    padding: 0px;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #acacac;
    background-color: transparent;
    border-radius: 0;
}

.field-group textarea.form-control, textarea.form-control {
    height: 100px;
    resize: none;
}

.form-control.datepicker, .form-control.timepicker {
    background-image: url(../images/calendar.png);
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: 99% 50%;
    padding-right: 30px;
}

.form-control.timepicker {
    background-image: url(../images/clock.png);
}

input[type="file"].form-control {
    margin-top: 15px;
    height: auto;
    border: 0;
}

.form-control:focus {
    box-shadow: none;
    background-color: transparent;
    border-color: #acacac;
}

.field-group select.form-control {
    padding: 0px 30px 0 0;
}

select.form-control:not([size]):not([multiple]) {
    height: 50px;
}

.btn {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 0;
    line-height: normal;
    padding: 10px 30px;
    cursor: pointer;
    min-width: 130px;
    border-radius: 50px;
    -webkit-box-shadow: 0px 0px 11px 0px rgba(2,2,2,0.4);
    -moz-box-shadow: 0px 0px 11px 0px rgba(2,2,2,0.4);
    box-shadow: 0px 0px 11px 0px rgba(2,2,2,0.4);
}

a.btn:hover {
    color: #fff;
}

.field-group {
    margin-bottom: 50px;
    position: relative;
}

.invalid-feedback, .invalid-text {
    position: absolute;
    top: 7px;
    right: 2px;
    font-size: 30px;
    font-weight: 500;
    width: auto;
    color: #dc3545;
}

.custom-checkbox input[type=checkbox], .custom-radio input[type=radio] {
    opacity: 0;
    height: 0;
    width: 0;
}

.custom-checkbox, .custom-radio {
    cursor: pointer;
    position: relative;
    margin: 0 15px 0 0;
    padding-left: 30px;
}

.custom-checkbox span:before, .custom-radio span:before {
    content: "";
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #000;
    background-color: #fff;
}

.custom-radio input[type=radio]:checked + span:after {
    content: "";
    width: 18px;
    height: 18px;
    position: absolute;
    background-color: #bebebe;
    left: 1px;
    top: 4px;
    border-radius: 50%;
    border: 3px solid #fff;
}

.custom-checkbox input[type=checkbox]:checked + span:after {
    content: "";
    width: 6px;
    height: 14px;
    position: absolute;
    left: 7px;
    top: 1.5px;
    border: solid #ec1b24;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.text-danger {
    color: #eb1c24 !important;
}

a.text-danger:focus, a.text-danger:hover {
    color: #eb1c24 !important;
}

.control-label {
    display: block;
    margin-bottom: 15px;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: 0;
    border-bottom: 2px solid #acacac;
    height: auto;
}

.select2-container--default .select2-selection--multiple {
    background-image: url(../images/arrow.png);
    background-repeat: no-repeat;
    background-position: calc(100% - 8px) 50%;
    font-size: 18px;
    font-family: 'SourceSans Pro Regular';
    height: 50px;
    color: #000;
    padding: 0px;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #acacac;
    background-color: transparent;
    border-radius: 0;
}*/

/*Pre Loader
.preloader {
    background-color: #fff;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99999;
    display: none;
}

.preloader img {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 180px;
    -moz-animation: blink normal 2s infinite ease-in-out;
    -webkit-animation: blink normal 2s infinite ease-in-out;
    -ms-animation: blink normal 2s infinite ease-in-out;
    animation: blink normal 2s infinite ease-in-out;
}

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.4;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.4;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.4;
    }

    100% {
        opacity: 1;
    }
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.4;
    }

    100% {
        opacity: 1;
    }
}
*/
/*Main Body CSS
.body-wrapper {
    padding-top: 79.38px;
    margin-left: 300px;
    padding-bottom: 76px;
    position: relative;
    min-height: calc(100vh - 79.38px);
}

.body-wrapper .main_padding {
    padding: 34px 45px;
}

Common Css
.page-title {
    font-size: 23px;
    color: #232323;
    padding-bottom: 6px;
}

.page_header {
    padding-bottom: 28px;
}

.card {
    border: 0;
    border-radius: 0;
    padding: 30px;
}

.card-body {
    background-color: #f3f4fd;
    padding: 0;
}

.page_header {
    display: inline-block;
    width: 100%;
}

.page_header .heading {
    display: inline-block;
    float: left;
    width: calc(100% - 315px);
}

.header_btn {
    float: left;
    display: inline-block;
    width: 315px;
    text-align: right;
}

.header_btn .btn {
    -webkit-box-shadow: 0px 0px 11px 0px rgba(2,14,181,0.4);
    -moz-box-shadow: 0px 0px 11px 0px rgba(2,14,181,0.4);
    box-shadow: 0px 0px 11px 0px rgba(2,14,181,0.4);
}

Login Page CSS
.logo {
    text-align: center;
    padding: 26px 15px;
    background-color: #fff;
}*/

/*.login_module {
    background-image: url(../images/login_banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.login_container {
    display: table;
    width: 100%;
    padding: 1px 0;
    height: calc(100vh - 76px);
    max-width: 740px;
    margin: 0 auto;
}

.login_inner {
    display: table-cell;
    vertical-align: middle;
}

.login_form {
    background-color: rgba(238, 238, 238, 0.86);
}

.login_data .field-group {
    margin-bottom: 30px;
}

.login_data .field-group .form-control::-webkit-input-placeholder {
    color: #565353 !important;
}

.login_data .field-group .form-control::-moz-placeholder {
    color: #565353 !important;
}

.login_data .field-group .form-control:-ms-input-placeholder {
    color: #565353 !important;
}

.login_data .field-group .form-control:-moz-placeholder {
    color: #565353 !important;
}

.login_data {
    padding: 66px 0 42px;
    max-width: 626px;
    margin: 0 auto;
}

.login_data a {
    color: #2c7fd3;
    text-decoration: underline;
    font-family: 'SourceSans Pro SemiBold';
    display: table;
    margin: 0 auto;
}

.login_data .btn {
    display: block;
    margin: 0 auto;
    min-width: 180px;
}

.login_footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    left: 0;
    right: 0;
    background-color: #fff;
    font-size: 16px;
    padding: 30px 15px;
}

.login_footer a {
    color: #000;
}

.remember_pass .pass_checkbox {
    width: 210px;
    display: inline-block;
    float: left;
}

.remember_pass .sign_up {
    display: inline-block;
    float: left;
    width: calc(100% - 210px);
    text-align: right;
}

.remember_pass .pass_checkbox .custom-checkbox {
    margin: 0;
}

.remember_pass .sign_up a {
    display: inline-block;
    margin: 0;
}

.remember_pass {
    display: inline-block;
    width: 100%;
}
*/
/*Header Css
.inner-header {
    display: table;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 11;
}

.inner-header-logo {
    background: #fff;
    text-align: center;
    width: 300px;
    display: table;
    height: 146px;
    border-bottom: 1px solid #ed1b24;
    border-right: 1px solid #b6b6b6;
}

.inner-header-logo img {
    width: 224px;
}

.inner-header-logo a {
    display: table-cell;
    vertical-align: middle;
}

.header_title {
    display: inline-block;
    float: left;
    width: calc(100% - 190px);
    text-align: left;
    padding: 26px 0 26px 45px;
}

.header_title h2 {
    display: inline-block;
    width: calc(100% - 30px);
    padding-left: 25px;
    line-height: 26px;
    font-size: 22px;
}

.navbar-toggle {
    position: relative;
    background-color: transparent;
    background-image: none;
    border: 0;
    outline: 0;
    cursor: pointer;
    padding: 7px 0;
    text-align: center;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    background-color: #454545;
    margin: 0 auto;
}

.navbar-toggle .icon-bar:nth-child(2) {
    width: 13px;
    margin-left: 0;
}

.navbar-toggle .icon-bar:nth-child(3) {
    width: 18px;
    margin-left: 0;
}

.navbar-toggle .icon-bar + .icon-bar {
    margin-top: 3px;
}

.inner-header-right {
    background-color: #fff;
    display: inline-block;
    float: left;
    width: 100%;
    text-align: right;
    padding-left: 300px;
}

.user-profile-outer {
    display: inline-block;
    position: relative;
    cursor: pointer;
    padding: 28px 45px 28px 0;
    width: 190px;
}

.user-profile-outer:hover .logout {
    display: block;
}

.profile_desc {
    display: inline-block;
    vertical-align: middle;
}

.profile_desc h5 {
    margin-bottom: 0;
    color: #777777;
    padding-bottom: 2px;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 112px;
}

.user-profile-outer:after {
    content: "\f078";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    color: #000;
    margin-left: 12px;
}

.user-profile-outer.active:after {
    content: "\f077";
}

.logout {
    min-width: 182px;
    display: none;
    position: absolute;
    background: #fee8ea;
    right: 45px;
    text-align: left;
    top: 60px;
    -webkit-box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.28);
    -moz-box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.28);
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.28);
}

.logout li {
    padding: 12px 16px;
}

.logout li a, .logout li {
    color: #403e3f;
    text-transform: capitalize;
    font-size: 16px;
    width: 100%;
    display: block;
}

.logout li a i {
    float: right;
}

.navigation nav {
    padding: 37px 0 0;
    max-height: calc(100vh - 148px);
}

.navigation {
    position: fixed;
    width: 300px;
    height: 100%;
    background: #2d2d2d;
    top: 0;
    z-index: 12;
}

.navigation ul .nav-small-cap {
    font-size: 14px;
    color: #ed1b24;
    padding: 18px 47px;
}

.navigation li a {
    font-size: 18px;
    color: #777777;
    font-family: 'SourceSans Pro SemiBold';
    padding: 18px 47px;
    display: block;
    border-right: 5px solid transparent;
}

.navigation li.active a, .navigation li a:hover {
    border-right: 5px solid #ed1b24;
    color: #ed1b24;
    background-color: #e9ecfa;
}*/
/*
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    padding: 26px 15px;
}

footer p {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #777777;
}

footer p a, footer p a:hover {
    color: #777777;
}*/

/*Change Password*/
/*.change_pass {
    max-width: 500px;
    padding: 48px 20px 120px;
}*/

/*New Staff Details*/
/*.btn_section {
    text-align: right;
}

.btn_section .btn {
    margin-left: 5px;
}

.new_staff {
    padding: 50px 30px;
}*/

/*Reset password*/
/*.login_form h2 {
    font-family: 'SourceSans Pro SemiBold';
    padding-top: 30px;
}

.reset_pass .logo img {
    width: 140px;
}*/

/*Table CSS*/
/*table {
    border-collapse: collapse;
    width: 100%;
}

table th {
    font-family: 'SourceSans Pro SemiBold';
    font-size: 16px;
    color: #394047;
}

table td {
    font-size: 16px;
    line-height: 20px;
    color: #8e9091;
    border-bottom: 2px solid #d2d2d2;
}

table tbody tr:last-child td {
    border-bottom: 0;
}

table th, table td {
    vertical-align: middle;
    padding: 12px 10px;
    text-align: left;
}

td .btn + .btn {
    margin-left: 5px;
}

.white_space {
    white-space: nowrap;
}

.responsive_table {
    overflow: auto;
}*/

/*Data Table Edit CSS*/
/*body table.dataTable thead th, body table.dataTable thead td {
    padding: 12px 10px;
    border-bottom: 0;
}

body table.dataTable.no-footer {
    border-bottom: 0;
}

body table.dataTable {
    border-collapse: collapse;
}

body .dataTables_info, body .dataTables_length {
    display: none;
}

.dataTables_paginate .paginate_button.previous:after, .dataTables_paginate .paginate_button.next:after {
    content: "\f0d9";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 28px;
}

.dataTables_paginate .paginate_button.next:after {
    content: "\f0da";
}

.dataTables_paginate .paginate_button.previous, .dataTables_paginate .paginate_button.next {
    font-size: 0;
    vertical-align: top;
    width: 30px;
    height: 30px;
    background: transparent !important;
}

body .dataTables_wrapper .dataTables_paginate .paginate_button a {
    color: #fff;
}

body .dataTables_wrapper .dataTables_paginate .paginate_button {
    background-color: #8492af;
    border-radius: 0;
}

body .dataTables_wrapper .dataTables_paginate .paginate_button:active,
body .dataTables_wrapper .dataTables_paginate .paginate_button:hover,
body .dataTables_wrapper .dataTables_paginate .paginate_button.current,
body .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover,
body .dataTables_wrapper .dataTables_paginate .paginate_button.active {
    background: rgba(45, 45, 45, 0.6);
    border: 1px solid transparent;
    box-shadow: none;
    color: #fff !important;
}

body .dataTables_wrapper .dataTables_paginate .paginate_button.previous:active,
body .dataTables_wrapper .dataTables_paginate .paginate_button.previous:hover,
body .dataTables_wrapper .dataTables_paginate .paginate_button.previous.current,
body .dataTables_wrapper .dataTables_paginate .paginate_button.previous.current:hover,
body .dataTables_wrapper .dataTables_paginate .paginate_button.next:active,
body .dataTables_wrapper .dataTables_paginate .paginate_button.next:hover,
body .dataTables_wrapper .dataTables_paginate .paginate_button.next.current,
body .dataTables_wrapper .dataTables_paginate .paginate_button.next.current:hover {
    color: #0a8f74 !important;
}

body .dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
body .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
body .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    color: #666 !important;
}

body .dataTables_wrapper .dataTables_filter input {
    font-family: 'SourceSans Pro Regular';
    height: 30px;
    padding: 0 26px 0 5px;
    font-size: 13px;
    background-image: url(../images/search.png);
    background-repeat: no-repeat;
    background-position: calc(100% - 8px) 50%;
    border: 0;
    border-bottom: 1px solid #b0bec5;
    background-color: transparent;
    width: 318px;
    border-radius: 0;
}

body .dataTables_wrapper .dataTables_filter {
    margin-bottom: 10px;
}

body .dataTables_wrapper .dataTables_filter label {
    font-family: 'SourceSans Pro Regular';
    font-size: 14px;
    color: #8492af;
}*/

/*Rights Popup*/
/*.rights.modal-dialog {
    max-width: 1200px;
}

.modal-content {
    border-radius: 0;
    border: 0;
}

.modal-header {
    background-color: #1d1d1d;
    border-radius: 0;
    padding: 15px 18px;
}

.modal-body {
    padding: 30px 65px 50px;
}

.modal-title {
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
}

.modal-header .close {
    height: 58px;
    padding: 0;
    width: 50px;
    background-image: url(../images/close.png);
    background-repeat: no-repeat;
    opacity: 1;
    font-size: 0;
    background-position: center;
}

.rights_table table th, .rights_table table td {
    text-transform: uppercase;
}

.rights_table .custom-checkbox {
    padding-left: 20px;
    margin: 0;
    height: 20px;
}

.popup_btns {
    margin-top: 40px;
    text-align: center;
}

.popup_btns .btn {
    margin: 0 5px;
}

.rights_table table th {
    font-size: 18px;
    color: #000000;
    font-family: 'SourceSans Pro SemiBold';
}

.rights_table table td {
    border-bottom: 0;
    color: #000000;
    font-family: 'SourceSans Pro SemiBold';
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #dfdfdf;
}

.table-striped tbody tr {
    background-color: #ededed;
}

.modal-dialog.common {
    max-width: 800px;
}

.modal_title {
    font-family: 'SourceSans Pro SemiBold';
    font-size: 22px;
}

.success_modal .modal_title {
    text-align: center;
}

#UpdateStaff .new_staff {
    padding: 0;
}*/
/*******************
Table-Data Table
******************/
/*.dt-buttons {
    display: inline-block;
    padding-top: 5px;
}

.dt-buttons .dt-button {
    padding: 5px 15px;
    border-radius: 4px;
    background: #009efb;
    color: #ffffff;
    margin-right: 3px;
}

.dt-buttons .dt-button:hover {
    background: #2f3d4a;
}

.dataTables_info, .dataTables_length {
    display: inline-block;
}

.dataTables_filter {
    float: right;
}

.dataTables_filter input {
    border: 1px solid #d9d9d9;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    background: transparent;
}

table.dataTable thead .sorting_asc:after {
    content: "\f0de";
    margin-left: 10px;
    font-family: fontawesome;
    cursor: pointer;
}

table.dataTable thead .sorting_desc:after {
    content: "\f0dd";
    margin-left: 10px;
    font-family: fontawesome;
    cursor: pointer;
}

table.dataTable thead .sorting:after {
    content: "\f0dc";
    margin-left: 10px;
    font-family: fontawesome;
    cursor: pointer;
    color: rgba(50, 50, 50, 0.5);
}

.dataTables_wrapper .dataTables_paginate {
    float: right;
    text-align: right;
    padding-top: 0.25em;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: 0.5em 1em;
    margin-left: 2px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    *cursor: hand;
    color: #54667a;
    border: 1px solid transparent;
    border-radius: 2px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #ffffff;
    border: 1px solid #009efb;
    background-color: #009efb;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    cursor: default;
    color: #54667a;
    border: 1px solid transparent;
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: white;
    border: 1px solid transparent;
    background-color: transparent;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:active {
    outline: none;
    background-color: #54667a;
}

.dataTables_wrapper .dataTables_paginate .ellipsis {
    padding: 0 1em;
}

.dataTables_info, .dataTables_length {
    display: none;
}

table.dataTable {
    border-collapse: collapse !important;
    margin: 0px !important;
}

.dataTables_paginate {
    width: 100%;
    padding: 10px 0 10px !important;
    border-top: 0;
}

div.table-responsive > div.dataTables_wrapper > div.row > .col-sm-5:first-child {
    display: none;
}

div.table-responsive > div.dataTables_wrapper > div.row > div[class^="col-"]:last-child {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    background: #f9f9f9;
    padding: 17px;
    margin-bottom: 10px;
    border: 1px solid #becad3;
    border-radius: 4px;
}

.dataTable.table-bordered {
    border-bottom: 0;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    display: inline-block;
}

div.dataTables_wrapper div.dataTables_filter input {
    min-height: 36px;
}

div.dataTables_wrapper div.dataTables_filter {
    margin-bottom: 0;
    display: none;
}

.dataTables_wrapper .row {
    width: 100%;
}

table.dataTable {
    border-collapse: collapse !important;
    margin: 0px !important;
}*/
/*New Event*/
/*.img_container {
    width: 100%;
    position: relative;
    height: 230px;
    border: 2px solid #acacac;
    margin: 0 auto 7px;
}

.img_container img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding: 10px;
    max-height: 100%;
}

.setu_acc_wizard {
    padding: 20px 30px;
}

.range_picker p {
    padding-top: 16px;
}

.range_picker .custom-checkbox {
    margin-top: 15px;
}

.additonal_service .row {
    margin-bottom: 15px;
}

.wizard-content .wizard {
    overflow: visible;
}

.wizard-content .wizard > .actions {
    padding: 0 0 20px;
}

.wizard-content .wizard > .actions > ul > li > a {
    background: #000000;
    text-align: center;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 0;
    line-height: normal;
    padding: 10px 30px;
    cursor: pointer;
    min-width: 130px;
    border-radius: 50px;
    -webkit-box-shadow: 0px 0px 11px 0px rgba(2,2,2,0.4);
    -moz-box-shadow: 0px 0px 11px 0px rgba(2,2,2,0.4);
    box-shadow: 0px 0px 11px 0px rgba(2,2,2,0.4);
}

.wizard-content .wizard > .actions > ul > li.disabled > a[href="#previous"], .wizard-content .wizard > .actions > ul > li.disabled > a[href="#previous"]:focus,
.wizard-content .wizard > .actions > ul > li.disabled > a[href="#previous"]:hover, .wizard-content .wizard > .actions > ul > li > a[href="#previous"]:focus,
.wizard-content .wizard > .actions > ul > li > a[href="#previous"]:hover {
    -webkit-box-shadow: 0px 0px 11px 0px rgba(2,2,2,0.4);
    -moz-box-shadow: 0px 0px 11px 0px rgba(2,2,2,0.4);
    box-shadow: 0px 0px 11px 0px rgba(2,2,2,0.4);
}

.wizard-content .wizard > .actions > ul > li.disabled > a, .wizard-content .wizard > .actions > ul > li.disabled > a:focus, .wizard-content .wizard > .actions > ul > li.disabled > a:hover,
.wizard-content .wizard > .actions > ul > li > a:focus, .wizard-content .wizard > .actions > ul > li > a:hover {
    color: #fff;
    -webkit-box-shadow: 0px 0px 11px 0px rgba(2,2,2,0.4);
    -moz-box-shadow: 0px 0px 11px 0px rgba(2,2,2,0.4);
    box-shadow: 0px 0px 11px 0px rgba(2,2,2,0.4);
}

.wizard-content .wizard > .actions > ul > li > a[href="#previous"] {
    background: #7d7d7d;
    color: #fff;
    border: 1px solid #7d7d7d;
}

.social_media li {
    display: inline-block;
    width: 100%;
}

.social_media .fa {
    font-size: 34px;
    width: 38px;
    text-align: left;
    float: left;
    padding-top: 14px;
}

.social_media .form-control {
    width: calc(100% - 52px);
    float: right;
}

.sponsors_list {
    margin-bottom: 20px;
}

.setu_acc_wizard .tab-wizard h4 {
    padding-bottom: 20px;
}

.sponsors_list .form-control {
    height: 30px;
    border: 2px solid #acacac;
    width: 100px;
    border-radius: 6px;
    padding: 0 10px;
}

.wizard-content .wizard > .content > .body {
    padding: 0;
}

.permission_check .custom-checkbox {
    margin: 0 15px 15px 0;
}

.additonal_service table td {
    border: 0;
}

.additonal_service table p {
    font-size: 18px;
    color: #394047;
}

.additonal_service table tr td:first-child {
    width: 260px;
}

.event_details ul {
    padding-top: 15px;
}

.event_details li {
    padding-bottom: 10px;
}

.event_details li:last-child {
    padding-bottom: 0;
}

.event_details .image {
    margin-bottom: 15px;
}

.list_of_tickets .field-group {
    margin: 0;
}

.list_of_tickets .field-group .form-control, .list_of_tickets .form-control {
    height: 34px;
}

.list_of_tickets li {
    padding-bottom: 30px;
}

.list_of_tickets li:last-child {
    padding-bottom: 0;
}

.ticket_details .page_header .heading {
    width: calc(100% - 235px);
}

.ticket_details .header_btn {
    width: 230px;
}

.card_title {
    padding-bottom: 20px;
}

.login_form .card_title {
    text-align: center;
}

.regitser_data {
    padding: 30px;
}

.datetimepicker table th, .datetimepicker table td {
    padding: 4px 6px;
}

.datetimepicker .glyphicon-arrow-left, .datetimepicker .glyphicon-arrow-right {
    position: relative;
    display: inline-block;
    font-family: "FontAwesome";
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
}

.datetimepicker .glyphicon-arrow-left:before {
    content: "\f053";
}

.datetimepicker .glyphicon-arrow-right:before {
    content: "\f054";
}

.stepsubmitBtn {
    position: absolute;
    border: 0;
    right: 0;
    z-index: 22;
    bottom: -60px;
    padding: 11px 38px;
}

.wizard-content .wizard > .content {
    overflow: visible;
}*/

/*User Event List*/
/*.user_event_list ul {
    display: inline-block;
    width: 100%;
    padding: 20px;
}

.time_location {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.time_desc {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(100% - 180px);
    flex: 0 0 calc(100% - 180px);
    max-width: calc(100% - 180px);
}

.book_ticket {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 180px;
    flex: 0 0 180px;
    max-width: 180px;
    text-align: right;
    align-items: center;
}

.book_ticket .btn + .btn {
    margin-top: 10px;
}

.user_event_list ul h4 {
    padding-bottom: 10px;
}

.user_event_list ul p + p {
    padding-top: 10px;
}

.user_event_list ul li {
    padding: 20px 0 25px;
    border-bottom: 1px solid #000;
}

.user_event_list ul li:first-child {
    padding-top: 0;
}

.user_event_list ul li:last-child {
    border-bottom: 0;
    padding-bottom: 0;
}

.time_desc label {
    font-weight: normal;
    font-family: 'SourceSans Pro Regular';
    color: #000;
}

.time_desc label {
    min-width: 210px;
}

.book_history .guest_desc {
    -ms-flex: 0 0 calc(100% - 340px);
    flex: 0 0 calc(100% - 340px);
    max-width: calc(100% - 340px);
}

.book_history .time_desc {
    -ms-flex: 0 0 340px;
    flex: 0 0 340px;
    max-width: 340px;
    padding-right: 10px;
}

.book_history .time_desc p:first-child {
    padding-top: 0;
}

.book_history .time_location {
    margin-top: 0;
}

.sponsor_list {
    padding: 20px 0 0;
}

.event_details .sponsor_list ul {
    display: flex;
    width: 100%;
}

.sponsor_list ul li {
    display: inline-block;
    float: left;
    width: 50%;
    text-align: center;
    padding: 10px;
}

.event_details .sponsor_list li:last-child {
    padding: 10px;
}

.event_details .sponsor_list .image {
    overflow: hidden;
    height: 120px;
    position: relative;
}

.event_details .sponsor_list .image img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding: 7px;
    max-height: 100%;
}

.avail_tickets label {
    display: inline-block;
    min-width: 110px;
    line-height: 28px;
    float: left;
}

.avail_tickets .field-group select.form-control {
    display: inline-block;
    width: calc(100% - 110px);
    height: 28px;
    float: left;
}

.avail_tickets {
    display: inline-block;
    width: 100%;
    padding-bottom: 40px;
}

.avail_tickets .field-group {
    margin-bottom: 0;
}

.avail_tickets p {
    display: inline-block;
    font-size: 20px;
    padding-left: 5px;
    line-height: 26px;
}

.guest_event_data .list_of_tickets .col-md-6 {
    -ms-flex: 0 0 calc(50% - 18px);
    flex: 0 0 calc(50% - 18px);
    max-width: calc(50% - 18px);
}

.guest_event_data .list_of_tickets .col-md-1 {
    -ms-flex: 0 0 36px;
    flex: 0 0 36px;
    max-width: 36px;
    padding: 0;
    text-align: center;
    padding-right: 15px;
}

.list_of_tickets button, .list_of_tickets a {
    color: #ef1a23;
    font-size: 24px;
    margin: 10px 0;
    display: block;
    padding: 0;
    background: transparent;
    border: 0;
    cursor: pointer;
}

.booking_btn {
    text-align: right;
    padding-top: 20px;
}

.send_invite {
    padding: 20px 0 0;
}

.send_invite .heading {
    padding-bottom: 10px;
}

.send_invite .field-group {
    margin: 0;
}

.proceed_cart .avail_tickets label {
    float: none;
    line-height: normal;
    margin-left: 10px;
    margin-right: 0;
    font-family: 'SourceSans Pro Regular';
    font-size: 16px;
    color: #8e9091;
    font-weight: normal;
}

.cart_table .form-control {
    height: 30px;
}

.pay_tickets {
    padding-top: 20px;
}

.payment_section {
    padding: 30px;
}

.type_of_card img {
    padding-top: 40px;
}

.datetimepicker .datetimepicker-minutes thead tr:first-child th.switch:hover, .datetimepicker .datetimepicker-hours thead tr:first-child th.switch:hover {
    background: transparent;
}

.datetimepicker .datetimepicker-minutes thead .switch, .datetimepicker .datetimepicker-hours thead .switch {
    font-size: 0;
}

.datetimepicker .datetimepicker-minutes thead th span.glyphicon, .datetimepicker .datetimepicker-hours thead th span.glyphicon {
    display: none;
}

.datetimepicker .datetimepicker-hours table th, .datetimepicker .datetimepicker-minutes table th {
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.booking_list {
    display: none;
    padding: 20px;
}

.reject_modal.success_modal .modal_title {
    padding-bottom: 30px;
    text-align: left;
}

.reject_modal .field-group {
    margin: 0;
}

#rejectall p {
    text-align: center;
    padding-top: 20px;
}

.login_data .field-group.guest_login .btn {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-family: 'SourceSans Pro Regular';
}

.field-group.guest_login p {
    display: inline-block;
    line-height: 42px;
    vertical-align: middle;
    padding: 0 10px;
}

.login_data .field-group.guest_login {
    text-align: center;
}

.individual_details .field-group .form-control, .individual_details .form-control {
    height: 34px;
}

.individual_details .field-group {
    margin-bottom: 20px;
}

.individual_details li {
    padding-bottom: 30px;
}

.individual_details li:last-child {
    padding-bottom: 0;
}

.individual_details .select2-container--default .select2-selection--multiple, .guest_event_data .list_of_tickets .col-md-12 .select2-container--default .select2-selection--multiple {
    height: 34px;
}

.sponsor_event_history .time_desc {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.mCSB_inside > .mCSB_container {
    margin-right: 12px;
}

.list_of_tickets li form {
    margin: 0;
}

.guest_event_data .list_of_tickets .col-md-12 {
    padding-top: 15px;
}

.list_of_tickets {
    height: 300px;
}

.btn.disabled {
    opacity: 0.5;
    pointer-events: none;
}

.coupon_code {
    position: relative;
}

.coupon_code .btn {
    position: absolute;
    right: 0;
    top: 0;
    min-width: 40px;
    padding: 4px 0;
    border-radius: 6px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.cart_table .coupon_code .form-control {
    padding-right: 46px;
}

.stepsubmitBtn.editsubmit {
    position: relative;
    bottom: auto;
    right: auto;
}

.select2-results__option:empty {
    display: none;
}

@keyframes blinker {
    70% {
        opacity: 0;
    }
}

#spnDiv .select2-selection__arrow {
    display: none;
}

.sponsor_user_event_list .time_desc {
    -ms-flex: 0 0 calc(100% - 206px);
    flex: 0 0 calc(100% - 206px);
    max-width: calc(100% - 206px);
}

.sponsor_user_event_list .book_ticket {
    -ms-flex: 0 0 206px;
    flex: 0 0 206px;
    max-width: 206px;
}

table.dataTable thead > tr > th.sorting {
    pointer-events: none;
}

table.dataTable thead .sorting:after {
    display: none;
}

body table.dataTable thead tr th.sorting_asc, body table.dataTable thead tr th.sorting_desc, body table.dataTable thead tr th.sorting {
    background-color: #bdbdbd;
}

.list_of_tickets .select2-container--default.select2-container--focus .select2-selection--multiple, .list_of_tickets .select2-container--default .select2-selection--multiple {
    height: 34px;
}

.list_of_tickets .field-group {
    margin-bottom: 15px;
}

.guest_event_data .tab-content .list_of_tickets .col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.tab-content .list_of_tickets button {
    color: #fff;
    font-size: 16px;
    margin: auto;
    display: block;
    padding: 9px 26px;
    background: #ef1a23;
    border: 0;
    cursor: pointer;
}

.tab-content .list_of_tickets {
    height: auto;
}

.ticket_details .nav-tabs .nav-link.active {
    background-color: #ec1b24;
    color: #fff;
}

.ticket_details .nav-tabs .nav-link {
    color: #000;
}

.ticket_details .dataTables_wrapper .row {
    margin: 0;
}

.ticket_details .dataTables_wrapper .col-sm-6, .ticket_details .dataTables_wrapper .col-sm-12 {
    padding: 0;
}

#hoverDiv ul:last-child {
    border-bottom: 0;
}

#hoverDiv ul {
    border-bottom: 1px solid #ed1b23;
}

.timepicker_wrap {
    background: #fff;
    padding: 4px 0;
}

input.timepicki-input {
    width: 100%;
    font-size: 13px;
    height: 30px;
}

.timepicker_wrap .prev, .timepicker_wrap .next {
    width: 30px;
    height: 30px;
    padding: 0;
    background: url(../images/arrow.png) no-repeat;
    background-position: 50%;
}

.timepicker_wrap .prev {
    transform: rotate(180deg);
}

.timepicker_wrap .time, .timepicker_wrap .mins, .timepicker_wrap .meridian {
    width: 30px;
    margin: 0 5px;
}

.timepicker_wrap .ti_tx, .timepicker_wrap .mi_tx, .timepicker_wrap .mer_tx {
    margin: 5px 0;
}*/
