﻿@model Diffa.Areas.Admin.Models.ProductFormViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="container" id="ProductContainer">
    <div class="row">
        <div class="col">
            <div class="form-group">
                @Html.HiddenFor(p => p.ProductId)
                <label asp-for="Name" class="control-label">Product Name</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label">Product Price</label>
                <input asp-for="Price" class="form-control" required />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                @if (!String.IsNullOrEmpty(Model.LogoPath))
                {
                    <img src="/@Model.LogoPath.Replace("\\","/")" style="padding:20px; max-height:100px" />
                }
                <label asp-for="ProductLogo" class="control-label">Upload Logo</label>
                <input asp-for="ProductLogo" class="form-control" />
                <span asp-validation-for="ProductLogo" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label asp-for="Events" class="control-label">Events</label>
                <select asp-for="EventId" asp-items="Model.Events"></select>
            </div>
        </div>
        <div class="col btn_section" style="padding-top:18px;">
            @if (Model?.ProductId == Guid.Empty)
            {
                <button type="submit" class="btn btn-primary" id="js-save">Add</button>
            }
            else
            {
                <button type="submit" class="btn btn-primary" id="js-save">Save</button>
            }
            <button type="button" class="btn btn-link" id="js-cancel">Cancel</button>
        </div>
    </div>
</div>
