﻿@model Diffa.Areas.Admin.Models.StaffFormViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="form-group">
    @Html.HiddenFor(p=>p.Id)

    <label asp-for="FirstName" class="control-label"></label>
    <input asp-for="FirstName" class="form-control" />
    <span asp-validation-for="FirstName" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="LastName" class="control-label"></label>
    <input asp-for="LastName" class="form-control" />
    <span asp-validation-for="LastName" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Email" class="control-label"></label>
    <input asp-for="Email" class="form-control" />
    <span asp-validation-for="Email" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="PhoneNumber" class="control-label"></label>
    <input asp-for="PhoneNumber" class="form-control" />
    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
</div>
<div class="row" style="display:none;">
    <div class="col"><label>Roles</label></div>
    <div class="col">

        @for (var i = 0; i < Model.Roles.Count; i++)
        {
            <input type="checkbox" asp-for="@Model.Roles[i].Selected" />
            <label asp-for="@Model.Roles[i].Selected">@Model.Roles[i].Name</label>
            <input type="hidden" asp-for="@Model.Roles[i].Id" />
            <input type="hidden" asp-for="@Model.Roles[i].Name" />
        }
    </div>
</div>
<div class="row">
    <div class="col-md-12 btn_section">
        @if (String.IsNullOrEmpty(Model.Email))
        {
            <button type="submit" class="btn btn-primary" id="js-save">Add</button>
        }
        else
        {
            <button type="submit" class="btn btn-primary" id="js-save">Save</button>
        }
        <button type="button" class="btn btn-link" id="js-cancel">Cancel</button>
    </div>
</div>