﻿@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>@ViewData["Title"]</h1>
@Model.StatusMessage

@if (Model.Success)
{
    if (Model.IsStaff)
    {
        <div><a href="/admin">Login Here</a></div>
    }
    else
    {
        <div><a href="/Identity/Account/Login">Login Here</a></div>
    }
}