﻿@page
@model Diffa.Areas.Identity.Pages.Account.LoginModel
<div class="login_data">
    <form id="account" method="post">
        <div class="field-group">
            <label asp-for="Input.Email"></label>
            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="field-group">
            <label asp-for="Input.Password"></label>
            <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div class="field-group text-center">
            <div class="checkbox">
                <label asp-for="Input.RememberMe">
                    <input asp-for="Input.RememberMe" />
                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                </label>
            </div>
        </div>
        <div class="field-group text-center">
            <div class="field-group">
                <button id="login-submit" type="submit" class="btn btn-primary">Log in</button>

            </div>
            <p>
                <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
            </p>
        </div>
    </form>
    
    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
    
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
