﻿@model Diffa.Areas.Admin.Models.CustomerDetailsViewModel


<div class="section_area">
    <div class="section_body">
        @if (Model != null && Model.Users != null)
        {
            <div id="staffGrid">
                @foreach (var user in Model.Users)
                {
                    <div>@user.FirstName @user.LastName</div>
                    <div>@user.Email</div>
                }
            </div>
        }
    </div>
</div>

<div class="section_header">
    <div class="heading">
        <h2 class="page-title">Details</h2>
    </div>
    <div class="header_btn">
        <button type="button" class="btn btn-primary" id="js-add-customer">Add New</button>
    </div>

</div>
<div class="section_area">
    <div class="section_body">
        @if (Model != null && Model.Users != null)
        {
            <div id="staffRoleGrid">
                <table class="table table-striped">
                    <thead>
                        <tr role="row">
                            <th>
                                Name
                            </th>
                            <th>
                                Email
                            </th>
                            <th>
                                Contact Number
                            </th>
                            <th>
                                Type
                            </th>
                            <th>
                                &nbsp;
                            </th>

                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var user in Model.Users)
                        {
                            <tr role="row">
                                <td><button type="button" data-id="@user.Id" data-href="/admin/user-detail/edit-staff/@user.Id" class="btn btn-link js-edit-staff">@user.FirstName @user.LastName</button></td>
                                <td>@user.Email</td>
                                <td>@user.PhoneNumber</td>
                                <td>Type                                  
                                </td>
                                <td>
                                    <button type="button" data-id="@user.Id" data-href="/admin/user-detail/edit-staff/@user.Id" class="btn btn-link js-edit-staff">Edit</button>
                                    <button type="button" data-id="@user.Id" data-href="/admin/user-detail/delete-staff/@user.Id" class="btn btn-link js-delete-staff">Delete</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }

    </div>
</div>
