﻿@model Diffa.Areas.Admin.Models.StaffFormViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<div class="page_header">
    <div class="heading">
        <h1 class="page-title">Manage Users</h1>
    </div>

</div>
<div class="page_area">
    <div class="page_body">
        <div class="section_header">
            <div class="heading">
                <h2 class="page-title">Add Staff</h2>
            </div>

        </div>
        <div class="section_area">
            <div class="section_body">
                <form method="post" id="js-staff-form" data-url="/admin/user-detail/edit-staff">

                    @await Html.PartialAsync("~/Areas/Admin/Views/UserDetails/Partial/_StaffForm.cshtml")

                </form>
            </div>
        </div>
    </div>
</div>