﻿@model Diffa.Areas.Admin.Models.StaffDetailsViewModel

<div class="section_header">
    <div class="heading">
        <h2 class="page-title">Staff Details</h2>
    </div>
    <div class="header_btn">

        <button type="button" class="btn btn-primary" id="js-add-staff"><i class="fa fa-user-plus" aria-hidden="true"></i>&nbsp;&nbsp;Add New Staff Details</button>
    </div>

</div>
<div class="section_area">
    <div class="section_body">

        @if (Model != null && Model.Users != null)
        {
            <div id="staffGrid">
                <table  class="table table-striped">
                    <thead>
                        <tr role="row">
                            <th>
                                Name
                            </th>
                            <th>
                                Email
                            </th>
                            <th>
                                Contact Number
                            </th>
                            
                            <th>
                                &nbsp;
                            </th>

                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var user in Model.Users)
                        {
                            <tr role="row">
                                <td><button type="button" data-id="@user.Id" data-href="/admin/user-detail/edit-staff/@user.Id" class="btn btn-link js-edit-staff">@user.FirstName @user.LastName</button></td>
                                <td>@user.Email</td>
                                <td>@user.PhoneNumber</td>
                                
                                <td>
                                    <button type="button" data-id="@user.Id" data-href="/admin/user-detail/edit-staff/@user.Id" class="btn btn-link js-edit-staff"><i class="fa fa-edit" aria-hidden="true"></i></button>
                                    <button type="button" data-id="@user.Id" data-href="/admin/user-detail/delete-staff" data-user-id="@user.Id" class="btn btn-link js-delete-staff"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }

    </div>
</div>
<div class="section_header" style="display:none;">
    <div class="heading">
        <h2 class="page-title">Staff Roles</h2>
    </div>
    <div class="header_btn">
        <button type="button" class="btn btn-primary" id="js-add-role">Add New Role</button>
    </div>

</div>
<div class="section_area" style="display:none;">
    <div class="section_body">
        @if (Model != null && Model.Roles != null)
        {
            <div id="staffRoleGrid">
                <table  class="table table-striped">
                    <thead>
                        <tr role="row">
                            <th>
                                Role
                            </th>
                            <th>
                                Actions
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var role in Model.Roles)
                        {
                            <tr role="row">
                                <td>@role.Name</td>
                                <td>&nbsp;</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }

    </div>
</div>

