﻿<div id="main-container">
    <h3>Manage Events</h3>
    <div class="container">
      <div id="EventList"></div>
    </div>
</div>

<div id="modal-container">

</div>

@section Scripts
{
    <script>
        var admin = new AdminManageEvents();
        admin.LoadEvents();
    </script>
}