﻿<div id="table-main-container">
    <h3>Manage Tables</h3>
    <div class="container">
        <div id="TableList"></div>
    </div>
</div>

<div id="table-modal-container">

</div>

@section Scripts
{
    <script>
        var eventId = '@ViewBag.EventId';
        var admin = new AdminManageTables();
        admin.LoadEvents(eventId);
    </script>
}