﻿<div id="product-main-container">
    <h3>Manage Products</h3>
    <div class="container">
        <div id="ProductList"></div>
    </div>
</div>

<div id="product-modal-container">

</div>

@section Scripts
{
    <script>
        var eventId = '@ViewBag.EventId';
        var admin = new AdminManageProducts();
        admin.LoadProducts(eventId);
    </script>
}