﻿<div id="main-container">
    <h3>Manage Users</h3>
    <div class="container">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" data-toggle="tab" role="tab" href="#StaffDetails">Staff Details</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" role="tab" href="#CustomerDetails">Customer Details</a>
            </li>

        </ul>
        <!-- Tabs content -->
        <div class="tab-content" id="ex1-content">
            <div class="tab-pane fade show active"
                 id="StaffDetails"
                 role="tabpanel">

            </div>
            <div class="tab-pane" id="CustomerDetails" role="tabpanel">

            </div>
        </div>
        <!-- Tabs content -->
    </div>
</div>

<div id="modal-container">

</div>

@section Scripts
{
    <script>
        var admin = new AdminManageUsers();
        admin.LoadStaffDetails();
    </script>
}