﻿@model Diffa.Areas.Admin.Models.TableFormViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="container" id="TableContainer">
    <div class="row">
        <div class="col">
            <div class="form-group">
                @Html.HiddenFor(p => p.TableId)
                <label asp-for="TableName" class="control-label">Table Name</label>
                <input asp-for="TableName" class="form-control" />
                <span asp-validation-for="TableName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SeatsPerTable" class="control-label">Seats Per Table</label>
                <input asp-for="SeatsPerTable" class="form-control" required />
                <span asp-validation-for="SeatsPerTable" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="TablesAvailable" class="control-label mt-5">Is Available</label>
                <input asp-for="TablesAvailable" class="form-control" required />
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label asp-for="PricePerSeat" class="control-label">Price Per Seat</label>
                <input asp-for="PricePerSeat" class="form-control" required />
                <span asp-validation-for="PricePerSeat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HexColor" class="control-label">HexColor</label>
                <input asp-for="HexColor" class="form-control" required />
                <span asp-validation-for="HexColor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Events" class="control-label">Events</label>
                <select asp-for="EventId" asp-items="Model.Events"></select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 btn_section">
            @if (Model?.TableId == Guid.Empty)
            {
                <button type="submit" class="btn btn-primary" id="js-save">Add</button>
            }
            else
            {
                <button type="submit" class="btn btn-primary" id="js-save">Save</button>
            }
            <button type="button" class="btn btn-link ml-4" id="js-cancel">Cancel</button>
        </div>
    </div>
</div>

