﻿@using Diffa.Areas.Home.Models
@model HomeModel

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br /><br /><br /><br />
    @if(Model!=null && Model.CurrentUser != null)
            {
                <a href="/Identity/Account/Logout?ReturnUrl=%2F">Logout</a>
            }
            else
            {
                <a href="/Identity/Account/Login?ReturnUrl=%2F">Login / Register</a>
            }
    
    <br /><br /><br /><br />
</div>


